.card{
    position: relative;
}
.cardTextBtn{
    position: absolute;
    top: 105px;
}
.card Button{
    position: absolute;
    bottom: 10px;
    left: 50%;
    right: 50%;
    transform: translate(-50px, -10px)
}